<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Add Products</title>
</head>
<body>
    <table class= "table">
    <tr>
        <td>Branch</td>
        <td>
        <select class=form-control name="" id="">
            <option value="Cereals">Cereals</option>
            <option value="Books">Books</option>
            <option value="Soaps">Soaps</option>
            <option value="Drinks">Drinks</option>
        </select>
        </td>
    </tr>
    <br>
    <tr>
        <td>Product Name:</td>
        <td><input  class="form-control" type="text"></td>
    </tr>
    <br>
    <tr>
        <td>Product details:</td>
        <td><input  class="form-control"  type="text"></td>
    </tr>
    <br>
    <tr>
        <td>Seller Name:</td>
        <td><input  class="form-control" type="text"></td>
    </tr>
    <br>
    <tr>
        <td>Manufacturer Name:</td>
        <td><input  class="form-control" type="text"></td>
    </tr>
    <br>
    <tr>
        <td>Manufactured date:</td>
        <td><input  class="form-control" type="date"></td>
    </tr>
    <br>
    <tr>
        <td>Expiry date:</td>
        <td><input  class="form-control" type="date"></td>
    </tr>
    <br>
    <tr>
        <td>Price</td>
        <td><input  class="form-control" type="number"></td>
    </tr>
    <br>
    <tr>
        <td><button class="btn btn-success">Submit</button></td>
    </tr>
    </table>
    
</body>
</html>