body{
    background-color: rgb(228, 203, 157);
    font-family: Arial, Helvetica, sans-serif;
    margin:auto;
    width:1024px;
    padding: 15px;
    font-size:14px;
    

}

.deletef{
    color:rgb(95, 72, 28);
    text-align: center;
    text-decoration: underline;
    



}

.registerf{
    color: rgb(95, 46, 28);
    text-align: center;
    text-decoration: underline;
    

}

.searchf{
    color: rgb(107, 81, 32);
    text-align: center;
    text-decoration: underline;
   
    

}

.updatef{
    color: rgb(124, 53, 27);
    text-align: center;
    text-decoration: underline;
    
   

}

.viewf{
    color: rgb(131, 48, 18);
    text-align: center;
    text-decoration: underline;
   

}