{%extends 'header.html'%}

{%block page%}
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8"></div>
    
    <h1>Welcome to ASM Printers!</h1>
    

    <h3>Superior Quality Printing </h3>
    
    
    <body>When the world is wheeling under the digital wave, digital printing has risen to another level with its on-demand printing. And, we cover all of your digital printing needs.
        
        <blockquote>Contact us: +91-900007878</blockquote>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
</div>

        
</body>



{%endblock%}