<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SELLER DETAILS</title>
</head>
<body align="center">
    <h1 align="justify">SELLER DETAILS</h1>
    <table class="table">
        <tr align="justify">
            <td>SELLER NAME</td>
            <td><input class="form-control" type="text"></td>
        </tr>
        <tr align="justify">
            <td>ADDRESS</td>
            <td><input class="form-control" type="text"></td>
        </tr>
        <tr align="justify">
            <td>EMAIL ID</td>
            <td><input class="form-control" type="text"></td>
        </tr>
        <tr align="justify">
            <td>PHONE NUMBER</td>
            <td><input class="form-control" type="text"></td>
        </tr>
        <tr align="justify">
            <td>DATE OF BIRTH</td>
            <td><input class="form-control" type="date"></td>
        </tr>
        <tr align="justify">
            <td>DISTRICT</td>
            <td>
                <select class="form-control" name="" id="">
                    <option value="Bhopal">Bhopal</option>
                    <option value="Dewas">Dewas</option>
                    <option value="Gwalior">Gwalior</option>
                    <option value="Indore">Indore</option>
                    <option value="Jabalpur">Jabalpur</option>
                    <option value="Sagar">Sagar</option>
                    <option value="Sehore">Sehore</option>
                </select>
            </td>
        </tr>
        <tr align="justify">
            <td>AGE</td>
            <td><input class="form-control" type="number"></td>
        </tr>
        <tr align="justify">
            <td>ADHAR NUMBER</td>
            <td><input class="form-control" type="number"></td>
        </tr>
        <tr align="justify">
            <td></td>
            <td><button class="btn btn-primary">SUBMIT</button></td>
        </tr>
    </table>
</body>
</html>
