<!DOCTYPE html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Shopping</title>
</head>

<body>
    <table>
        <tr>
            <td>Productname</td>
            <td> <input class="form-control" type="text"> </td>
        </tr>
        <tr>
            <td>Productdetails</td>
            <td> <input class="form-control" type="text"> </td>
        </tr>
        <tr>
            <td>SellerName</td>
            <td><input class="form-control" type="text"> </td>
        </tr>
        <tr>
            <td>ManufactureName</td>
            <td><input class="form-control" type="text"></td>
        </tr>
        <tr>
            <td>ManufactureDate</td>
            <td><input class="form-control" type="date"></td>
        </tr>
        <tr>
            <td>ExipryDate</td>
            <td><input class="form-control" type="date"></td>
        </tr>
        <tr>
            <td>branch</td>
            <td> <select name="branch" id="1">
                <option value="">food</option>
                <option value="">frocires</option>
                <option value="">Food</option>
            </select></td>
        </tr>
        <tr>
            <td></td>
            <td><button class="btn btn-danger">Submit</button></td>
        </tr>


    </table>
</body>
</html>