<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<center>
    <table class="table">
        <tr>
            <td>PRODUCT NAME</td>
            <td><input class="form-control" type="text"> </td>
        </tr>
        <tr>
            <td>PRODUCT DETAILS</td>
            <td><input class="form-control" type="text"> </td>
        </tr>
        <tr>
            <td>SELLER NAME</td>
            <td><input class="form-control" type="text"></td>
        </tr>
        <tr>
            <td>MANUFACTURER NAME</td>
            <td><input class="form-control" type="text"></td>
        </tr>
        <tr>
            <td>MANUFACTURING DATE</td>
            <td><input class="form-control" type="date"></td>
        </tr>
        <tr>
            <td>EXPIRY DATE</td>
            <td><input class="form-control" type="date"></td>
        </tr>
        <tr>
            <td>PRICE</td>
            <td><input class="form-control" type="number"></td>
        </tr>
        <tr>
            <td>BRANCH</td>
            <td>
                <select class="form-control" name="" id="">
                    <option value="collboration">collboration</option>
                    <option value="prepartion">prepartion</option>
                    <option value="front">front</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><input class="btn btn-warning" type="radio"></td>
            <td>Agree for terms condition</td>
        </tr>
        <tr>
            <td></td>
            <td><button class="btn btn-warning">SUMBIT </button></td>
        </tr>
    </table>
</center>
    
</body>
</html>