{% extends 'header.html'%}

{% block myContent %}

<h1> WELCOME TO VOTING SYSTEM </h1>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2 "></div>
        <div class="col col-12 col-sm-8 col-md-8 col-xl-8 col-xl-8 col-xxl-8">
            <table class="table">
    <thead class="table table-warning">
    <tr>
        <th>VOTER_ID</th>
        <th>VOTER_NAME</th>
        <th>VOTER_ADDRESS</th>
        <th>VOTER_PHONENO</th>
    </tr>   

    
</thead>
<tbody>
    {% for i in data %}
    <tr>
        <td>{{i.vid}}</td>
        <td>{{i.vname}}</td>
        <td>{{i.vaddress}}</td>
        <td>{{i.vphoneno}}</td>
    </tr>
    {% endfor %}

</tbody>

</table>
</div>

    <div class="col-12 col-2 col-sm-2 col-md-2 col-xl-2 col-xxl-2"></div>
</div>
{%endblock%}