{% extends 'head.html' %}
{%  block content  %}



    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
               
                
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
               
              <form action="http://127.0.0.1:8000/flats/addflat/" method="post">

                <table class="table table-borderless">
                    <tr>
                        <td> <b>Building Number</b> </td>
                        <td> <input name="building_no" class="form-control" type="text" placeholder=" Enter the building number"> </td>
                    </tr>
                    <tr>
                        <td> <b>Owner Name</b> </td>
                        <td> <input name="owner_name" class="form-control" type="text" placeholder=" Enter the owner name"> </td>
                    </tr>
                    <tr>
                        <td> <b>Address</b> </td>
                        <td> <input name="address" class="form-control" type="text" placeholder="Enter the address"> </td>
                    </tr>
                    <tr>
                        <td> <b>Mobile Number</b> </td>
                        <td> <input name="mobile_no" class="form-control" type="text" placeholder="Enter mobile number"> </td>
                    </tr>
                    <tr>
                        <td> <b>Aadhar Number</b> </td>
                        <td> <input name="aadhar_no" class="form-control" type="text" placeholder="Enter the aadhar number"> </td>
                    </tr>
                    <tr>
                        <td> <B>Email-id</B>  </td>
                        <td> <input name="email" class="form-control" type="text" placeholder="Enter the email id"> </td>
                    </tr>
                    <tr>
                        <td> <b> Password</b>  </td>
                        <td> <input name="password" class="form-control" type="password" placeholder="Enter the password"> </td>
                    </tr>
                    
                        <td>  </td>
                        <td> <center> <button> ADD </button>  </center> </td>
                    </tr>
                </table>
              </form>
               
                
            </div>
            <div class="col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
               
                
            </div>
           
    </div>

    
{%  endblock  %}
