{% extends 'head.html'  %}
{%  block content  %}

<div class="container">
  <div class="row">
    <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
    <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">

        <form action="http://127.0.0.1:8000/flats/searchflat/" method="post">
        <table class="table table-borderless">
            <tr>
                <td> <b>Building Number</b> </td>
                <td> <input name="building_no" type="text" class="form-control" placeholder="Enter building number"> </td>
            </tr>
            <tr>
                <td>  </td>
                <td> <center> <button type="submit"> Search </button> </center> </td>
            </tr>
        </table>
      </form>
      {% if data  %}
        <table class="table table-stripes">
          <thead class="table-dark">
            <tr>
              <th> Building Number </th>
              <th> Owner Name </th>
              <th> Address </th>
              <th> Mobile Number </th>
              <th> Aadhar Number </th>
              <th> Email-id </th>
              <th> Password </th>
          </tr>
          </thead>
  
          <tbody>
            {% for i in data  %}
            <tr>
              <td> {{ i.building_no }} </td>
              <td> {{ i.owner_name }} </td>
              <td> {{ i.address }} </td>
              <td> {{ i.mobile_no }} </td>
              <td> {{ i.aadhar_no }} </td>
              <td> {{ i.email }} </td>
              <td> {{ i.password }} </td>
            
          </tr>
          {% endfor %}
  
  
          </tbody>
        </table>
        
       
      
      {% endif %}
      
        
    </div>
    <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
  </div>
</div>
{%  endblock  %}

    