{% extends 'header.html' %} 

{% block myContent %}
<div class="container">
  <div class="row">
    <div class="col col-12 col-sm-2 col-md-2">

    </div>
    <div class="col col-12 col-sm-8 col-md-8">
      <form action="http://127.0.0.1:8000/bank/badd/" method="post">

        <table class="table table-boarderless">
          <tr>
            <td>Cutomer Id</td>
            <td><input name="customer_id" type="text" class="form-control"></td>
          </tr>
          <tr>
            <td>Customer Name</td>
            <td><input name="customer_name" type="text" class="form-control"></td>
          </tr>
          <tr>
            <td>Deposit Amount</td>
            <td><input name="deposit_amount" type="text" class="form-control"></td>
          </tr>
            <td></td>
            <td><center>   <button type="submit" class="btn btn-success">SEND</button></center>  </td>
          </tr>
          <div class="col col-12 col-sm-2 col-md-2">

          </div>

        </table>
      </form>
    </div>
  </div>
</div>
{% endblock %}