<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller</title>
</head>
<body>
    <table class="table">
        <tr>
            <td>Seller name</td>
            <td><input placeholder="enter name" type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>Seller address</td>
            <td><input placeholder="enter address" type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input placeholder="enter email id" class ='form-control' type="text"></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input placeholder="enter phone" class ='form-control' type="text"></td>
        </tr>
        <tr>
            <td>Date of birth</td>
            <td><input class ='form-control' type="date"></td>
        </tr>
        <tr>
            <td>District</td>
            <td><select  class ='form-control' name="" id="">
                <option value="Sagar">Sagar</option>
                <option value="Jabalpur">Jabalpur</option>
                <option value="Bhopal">Bhopal</option>
                <option value="Indore">Indore</option>
            </select></td>
        </tr>
        <tr>
            <td>Age</td>
            <td><input class ='form-control' type="text"></td>
        </tr>
        <tr>
            <td>Adhar number</td>
            <td><input class ='form-control' type="text"></td>
        </tr>
        <tr>
            <td></td>
            <td><button class="btn btn-success">SUBMIT</button></td>
        </tr>
    </table>
    
</body>
</html>