{% extends 'head.html'  %}
{%  block content  %}



    <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
               
                
            </div>
            <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
               
              <form action="http://127.0.0.1:8000/passengers/booking/" method="post">

                <table class="table table-borderless">
                    <tr>
                        <td> Username </td>
                        <td> <input name="username" class="form-control" type="text" placeholder=" Enter your first name"> </td>
                    </tr>
                    <tr>
                        <td> Email-id </td>
                        <td> <input name="email" class="form-control" type="text" placeholder=" Enter your last name"> </td>
                    </tr>
                    <tr>
                        <td> From Station </td>
                        <td> <select name="from_station" name="" id="" class="form-control">
                            <option value="Bangalore">Bangalore</option>
                            <option value="Mangalore">Mangalore</option>
                            <option value="Chittor">Chittor</option>
                            <option value="Chennai">Chennai</option>
                            <option value="Hyderabad">Hyderabad</option>
                        </select> </td>
                    </tr>
                    <tr>
                        <td> To Station </td>
                        <td> <select name="to_station" name="" id="" class="form-control">
                            <option value="Hyderabad">Hyderabad</option>
                            <option value="Chennai">Chennai</option>
                            <option value="Bangalore">Bangalore</option>
                            <option value="Mangalore">Mangalore</option>
                            <option value="Chittor">Chittor</option> 
                        </select> </td>
                    </tr>
                    <tr>
                        <td> Date of Journey </td>
                        <td> <input name="DOJ" class="form-control" type="date" placeholder="Enter your email id"> </td>
                    </tr>
                    
                   
                    
                        <td>  </td>
                        <td> <center> <button type="submit" class="btn btn-dark"> BOOK TICKET </button>  </center> </td>
                    </tr>
                </table>
              </form>
               
                
            </div>
            <div class="col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 col-xxl-3">
               
                
            </div>
           
    </div>

    
{%  endblock  %}
