<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body align="center" >
    <h2>Add Product Details</h2>
    <table class="table">
        <tr align="justify">
            <td >PRODUCT NAME</td>
            <td>
                <select class="form-control" name="" id="">
                    <option value="Amul">Amul</option>
                    <option value="Bread">Bread</option>
                    <option value="Horlicks">Horlicks</option>
                    <option value="Britannia">Britannia</option>
                    <option value="Chips">Chips</option>
                    <option value="Cadbury">Cadbury</option>
                    <option value="Oreo">Oreo</option>
                </select>
            </td>
            <!-- <td ><input class="form-control" type="text"></td> -->
        </tr>
        <tr align="justify">
            <td>PRODUCT DETAILS</td>
            <td><input class="form-control" type="text"></td>
        </tr>
        <tr align="justify">
            <td>SELLER NAME</td>
            <td><input class="form-control" type="text"></td>
        </tr>
        <tr align="justify">
            <td>MANUFACTURER NAME</td>
            <td><input class="form-control" type="text"></td>
        </tr>
        <!-- <tr align="justify">
            <td>PRODUCT NAME</td>
            <td>
                <select class="form-control" name="" id="">
                    <option value="Amul">Amul</option>
                    <option value="Bread">Bread</option>
                    <option value="Horlicks">Horlicks</option>
                    <option value="Britannia">Britannia</option>
                    <option value="Chips">Chips</option>
                    <option value="Cadbury">Cadbury</option>
                    <option value="Oreo">Oreo</option>
                </select>
            </td>
        </tr> -->
        <tr align="justify">
            <td>MANUFACTURE DATE</td>
            <td><input class="form-control" type="text"></td>
        </tr>
        <tr align="justify">
            <td>EXPIRY DATE</td>
            <td><input class="form-control" type="date"></td>
        </tr>
        <tr align="justify">
            <td>PRICE</td>
            <td><input class="form-control" type="date"></td>
        </tr>
        <tr align="justify">
            <td><input type="radio"></td>
            <td>Agree Terms and conditions</td>
        </tr>
        
        <tr align="justify">
            <td></td>
            <td><BUTTON class="btn btn-primary">SUBMIT</BUTTON></td>
        </tr>
    </table>
</body>
</html>