{% extends 'header.html' %}

{% block MyContent %} 
<br><br>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <table class="table table-striped">
                <tr>
                    <thead class="table-primary">
                        <tr>
                            <th>Dog id</th>
                            <th>Dog name</th>
                            <th>DOG AGE</th>
                            <th>DOG PRICE</th>

                        </tr>
                    </thead>
                        <tbody>
                               {% for i in data %}
                            <tr>
                                <td>{{i.Dogid}}</td>
                                <td>{{i.Dname}}</td>
                                <td>{{i.Dage}}</td>
                                <td>{{i.Dprice}}</td>
                                
                            </tr>
                                {% endfor %}
                        </tbody>
                        
                    
                </tr>
            </table>
        </div>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
    </div>
</div>       
    
{% endblock %}
