{% extends 'header.html' %} 

{% block x %} 

<h1 align="center" <font color="green">VIEW VEGITABLE</h1>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
        </div>
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <table class="table table-striped">
               



                <thead class="table-primary">
                    <tr <font color="green">
                        <th>Vegitable Code</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>PACKAGING DATE</th>
                        <th>EXPIRY DATE</th>
                        <th>PRICE</th>
                    </tr>
                </thead>  

                <tbody>
                    {% for i in data %} 
                <tr>
    
                    <td>{{i.vegitable_code }}</td>
                    <td>{{i.name }}</td>
                    <td>{{i.description }}</td>
                    <td>{{i.packing_date }}</td>
                    <td>{{i.expiry_date }}</td>
                    <td>{{i.price }}</td>
                </tr>
                    {%  endfor  %}

                </tbody>
                    
                </table>
            </div>
        <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
        </div>
           

{% endblock   %}
    
    

    
    
