{% extends 'headings.html' %}
{% block mycontent %}
<link rel="stylesheet" href="/static/css/style.css">
<div class="container">
  <div class="row">
    <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>
    <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
    <CEnter><h1><marquee width="60%" direction="right" height="100px">
      VIEW RECORDS
      </marquee></h1></CEnter>
    <h2 class="fonts">Registered Flats</h2>
<table class="css" class="table table-striped">
  <thead class="table-primary">
    <tr class="css">
      <th  class="css">Building Number</th>
      <th class="css">Owner name</th>
      <th class="css">Address</th>
      <th class="css">Mobile</th>
      <th class="css">Aadhar Card</th>
      <th class="css">Email</th>
      
    </tr>
  </thead>
  <tbody>
    {% for i in data %}
    <tr class="css">
      <td class="css"> {{ i.buildnum }}</td>
      <td class="css">{{ i.oname}}</td>
      <td class="css">{{ i.address }}</td>
      <td class="css">{{ i.mobile }}</td>
      <td class="css">{{ i.adhar }}</td>
      <td class="css">{{ i.email }}</td>

      </tr>
      {% endfor %}
  </tbody>
</table> </div>
<div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"></div>




</div>
</div>
  </div>
</div>
      {% endblock  %}