<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td> Seller Name </td>
            <td> <input type="text" class="form-control"> </td>
        </tr>
        <tr>
            <td> Seller Address </td>
            <td><input type="text" class="form-control"> </td>
        </tr>
        <tr>
            <td> Seller Email_Id </td>
            <td> <input type="text" class="form-control"> </td>
        </tr>
        <tr>
            <td> Seller Phone num </td>
            <td> <input type="text" class="form-control"> </td>
        </tr>
        <tr>
            <td> DOB </td>
            <td> <input type="date" class="form-control"> </td>
        </tr>
        <tr>
            <td> District </td>
            <td> <input type="text" class="form-control"> </td>
        </tr>
        <tr>
            <td> Age </td>
            <td> <input type="number" class="form-control"> </td>
        </tr>
        <tr>
            <td> Aadhaar Num </td>
            <td> <input type="number" class="form-control"> </td>
        </tr>
        <tr>
            <td></td>
            <td> <button class="btn btn-primry">Submit</button> </td>
        </tr>
    
    
        
        
    </table>
</body>
</html>