<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    <table class="table">
        <tr>
            <td>Product name</td>
            <td> <input class="form-control" type="text"></td>
        </tr>
        <tr>
            <td>Product detail</td>
            <td> <input class="form-control" type="text"></td>
        </tr>
        <tr>
            <td>Seller name</td>
            <td> <input class="form-control" type="text"></td>
        </tr>
        <tr>
            <td>Manufacter name</td>
            <td> <input class="form-control" type="text"></td>
        </tr>
        <tr>
            <td>Manufacturing date</td>
            <td> <input class="form-control" type="date"></td>
        </tr>
        <tr>
            <td>Expiry date</td>
            <td> <input type="date"></td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>
                <select name="" id="">
                    <option value="Zola">Zola</option>
                    <option value="Agartha">Agartha</option>
                    <option value="Elene">Elene</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Price</td>
            <td> <input type="text"></td>
        </tr>
        <tr>
            <td> <input type="checkbox"></td>
            <td>Agree terms and conditions</td>
        </tr>
        <tr>
            <td></td>
            <td><Button class="btn btn-success">Submit</Button></td>
        </tr>
    </table>
</body>
</html>