
{% extends 'header.html'  %}
{%  block content  %}

<div class="container">
  <div class="row">
    <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
    <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">

        <form action="http://127.0.0.1:8000/trains/deletesearchtrain/" method="post">
        <table class="table table-borderless">
            <tr>
                <td> <b>Train Number</b> </td>
                <td> <input name="trainNumber" type="text" class="form-control" placeholder="Enter train number to delete"> </td>
            </tr>
            <tr>
                <td>  </td>
                <td> <center> <button type="submit" class="btn btn-success"> SEARCH </button> </center> </td>
            </tr>
        </table>
      </form>
      {% if data  %}
      
      <form action="http://127.0.0.1:8000/trains/delete_api/" method="post">
        <table class="table table-borderless">
            {% for i in data %}
            <tr>
                <td> </td>
                <td> <input name="newid" value="{{i.id}}" type="hidden" class="form-control"> </td>
              </tr>
            <tr>
              <td> Train Name </td>
              <td> <input name="newtrain_name" value="{{i.trainName}}" type="text" class="form-control"> </td>
            </tr>
            <tr>
              <td> Train Number </td>
              <td> <input name="newtrain_no" value="{{i.trainNumber}}" type="text" class="form-control"> </td>
            </tr>
            <tr>
              <td> From Station </td>
              <td> <input name="newfrom_station" value="{{i.fromStation}}" type="text" class="form-control"> </td>
            </tr>
            <tr>
              <td>To Station</td>
              <td> <input name="newto_station" value="{{i.toStation}}" type="text" class="form-control"> </td>
            </tr>
            <tr>
              <td>Running Days</td>
              <td> <input  name="newrunning_days" value="{{i.runningDays}}" type="text" class="form-control" readonly > </td>
            </tr>
            <tr>
                <td> </td>
                <td> <center> <button type="submit" class="btn btn-warning"> DELETE </button> </center> </td>
              </tr>
            {% endfor %}
          </table>

      </form>
      {% endif %}
      
        
    </div>
    <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
  </div>
</div>
{%  endblock  %}