{% extends 'header.html'  %}
{%  block content  %}

<div class="container">
  <div class="row">
    <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
    <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8">

        <form action="http://127.0.0.1:8000/trains/searchtrain/" method="post">
        <table class="table table-borderless">
            <tr>
                <td> From Station </td>
                <td> <input type="text" class="form-control" placeholder="Enter from station"> </td>
            </tr>
            <tr>
                <td>  </td>
                <td> <center> <button type="submit" class="btn btn-success"> Search </button> </center> </td>
            </tr>
        </table>
      </form>
      {% if data  %}
      <table class="table table-borderless">
        {% for i in data %}
        <tr>
          <td> Train Name </td>
          <td> {{i.trainName}} </td>
        </tr>
        <tr>
          <td> Train Number </td>
          <td> {{i.trainNumber}} </td>
        </tr>
        <tr>
          <td> From Station </td>
          <td> {{i.fromStation}} </td>
        </tr>
        <tr>
          <td>To Station</td>
          <td> {{i.toStation}} </td>
        </tr>
        <tr>
          <td> Running Days </td>
          <td> {{i.runningDays}} </td>
        </tr>
        {% endfor %}
      </table>
      {% endif %}
      
        
    </div>
    <div class="col col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2"></div>
  </div>
</div>
{%  endblock  %}

    