{% extends 'header.html' %}

{% block mycontent %}

    <div class="container">
        <div class="row">
            <div class="col col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2">
            </div>
            <div class="col col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
                <form action="add/" method="post">
                <table class="table table-borderless">
                    <center>
                    <h1> ADD-PRODUCT</h1>
                    </center>
                    <tr>
                        <!-- "productname","discription","price","manufacturer","manufacturingdate","expirydate" -->

                        <td>Product Name</td>
                        <td><input name="productname" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Discription</td>
                        <td><input name="discription" type="text" class="form-control"></input></td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td><input name="price" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Manufacturer</td>
                        <td><input name="manufacturer" type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Manufacturing Date</td>
                        <td><input name="manufacturingdate" type="date" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Expiry Date</td>
                        <td><input name="expirydate" type="date" class="form-control"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td align="center"><button class="btn-success ">ADD</button></td>
                    </tr>
                </table>
            </form>
            </div>
               
                <div class="col col-2 col-sm-2 col-lg-2 col-xl-2 col-xxl-2">

                </div> 
            </div> 
    </div>   
{% endblock %}