<!DOCTYPE html>
<html lang="en">
<head><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD PRODUCT DETAILS</title>
</head>
<body>
<table class="table">
    <tr>
        <td>Product Name</td>
        <td><input class= "form-control"type="text"></td>
    </tr>
    <tr>
        <td>Product Details</td>
        <td><input class= "form-control" type="text"></td>
    </tr>
    <tr>
        <td>Seller Name</td>
        <td><input class= "form-control" type="text"></td>
    </tr>
    <tr>
        <td>BRAND</td>
        <td>
            <select class= "form-control" name="" id="">
                <option value="Dairy Milk">Dairy Milk</option>
                <option value="MUNCH">MUNCH</option>
                <option value="PERK">PERK</option>
                <option value="MILKY BAR">MILKY BAR</option>
                <option value="FERRO">FFERRO</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Manufacturer Name</td>
        <td><input class= "form-control" type="text"></td>
    </tr>
    <tr>
        <td>Manufacturing Date</td>
        <td><input class= "form-control" type="date"></td>
    </tr>
    <tr>
        <td>Expire Date</td>
        <td><input class= "form-control" type="date"></td>
    </tr>
    <tr>
        <td>Price</td>
        <td><input class= "form-control" type="number"></td>
    </tr>
    <tr>
        <td></td>
        <td><button class="btn btn-success">SUBMIT</button></td>
    </tr>
</table>
</body>
</html>